<div class="home-page">
    <div class="container centered">
        <div class="content">
            <div class="left-box center t-center col">
                <div class="lb-content">
                    <h1 class="mb-2">Welcome to ClienWebApp - Stefan Kovacevic</h1>
                    <p>Discover the features and benefits of our application. Explore the various sections and enjoy a seamless experience.</p>
                </div>
            </div>
            <div class="right-box"></div>
        </div>
    </div>
</div>